<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name='viewport' content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
<meta name="author" content="Bing">
<meta name="author" content="amazing_bing@outlook.com">
<title>Catteam | Fous Security</title>
<link rel="icon" href="/static/favicon.ico" type="image/x-icon">
<link rel="stylesheet" href="/static/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/css/corp.css" />
 