<div class="row" id="userdetail">
	<div class="container-fluid" style="margin-top: 30px;">
		<table class="table">
			<tr><h5 class="bread-crumb"><strong>Information Personal</strong></h5></tr>
			<tr>
				<td>Userame</td>
				<td>{{ username }}</td>
			</tr>
			<tr>
				<td>Email</td>
				<td>{{ email }}</td>
			</tr>
			<tr>
				<td>Phone Number</td>
				<td>{{ phone }}</td>
			</tr>
			<tr>
				<td>Register IP</td>
				<td>{{ ip }}</td>
			</tr>
				<td>Register Date</td>
				<td>{{ register_date }}</td>
			</tr>
			<tr>
				<td>User Privilege</td>
				<td>{{ privilege }}</td>
			</tr>
			<tr>
				<td>Own Group</td>
				<td>Technology Group</td>
			</tr>
		</table>
	</div>
</div>